<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- curl.exe完整路径 -->
    <add key="CurlPath" value="C:\\curl\\bin\\curl.exe"/>
    <!-- ChatGPT接口配置 -->
    <add key="ChatGPT_Api_Url" value="https://api.openai.com/v1/completions"/>
    <add key="ChatGPT_Api_Key" value="登录openai账号后创建Authorization_Key"/>
    <!-- 代理配置 -->
    <add key="Proxy_Host" value="1.1.1.1"/>
    <add key="Proxy_Port" value="8080"/>
    <add key="Proxy_Username" value=""/>
    <add key="Proxy_Password" value=""/>
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="Windows"/>
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <compilation debug="true" targetFramework="4.6"/>
  </system.web>
  <!-- 
        system.webServer 节是在 Internet Information Services 7.0 下运行 ASP.NET AJAX 
        所必需的。对于早期版本的 IIS，不必保留此节。
  -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Enyim.Caching" publicKeyToken="CEC98615DB04012E" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.16.0.0" newVersion="2.16.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>
<!--ProjectGuid: F4913863-687B-44EF-B1A4-655C49A5BCB7-->
